{% extends 'base.content.html.twig' %}

{% block title %}CallingList index{% endblock %}

{% block content %}
    <h1>CallingList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phones count</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for calling_list in calling_lists %}
            <tr>
                <td>{{ calling_list.id }}</td>
                <td>{{ calling_list.name }}</td>
                <td>{{ calling_list.clientMsisdns |length }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('calling_list_edit', {'id': calling_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('calling_list_new') }}">Create new</a>
{% endblock %}
