{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_row(form.name) }}
    {% if  form.callingList.vars.choices | length == 0%}
        <div class="form-group">
                <div><a href="{{ path('calling_list_new') }}">Добавьте список прозвона</a></div>
                <div style="display: none;">
                    {{ form_widget(form.callingList) }}
                </div>
        </div>
    {% else %}
        {{ form_row(form.callingList) }}
    {% endif %}

    {{ form_row(form.callingTimes) }}


    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<ul class="d-flex">
    <li>
        <div class="week">1</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">2</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">3</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">4</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">5</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">6</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
    <li>
        <div class="week">7</div>
        <ul id="hour-select-mon" class="clearfix">
            <li ><div class="badge badge-info">00:00</div></li>
            <li class=""><div class="badge badge-info">01:00</div></li>
            <li class=""><div class="badge badge-info">02:00</div></li>
            <li class=""><div class="badge badge-info">03:00</div></li>
            <li class=""><div class="badge badge-info">04:00</div></li>
            <li class=""><div class="badge badge-info">05:00</div></li>
            <li class=""><div class="badge badge-info">06:00</div></li>
            <li class=""><div class="badge badge-info">07:00</div></li>
            <li class=""><div class="badge badge-info">08:00</div></li>
            <li class=""><div class="badge badge-info">09:00</div></li>
            <li class=""><div class="badge badge-info">10:00</div></li>
            <li class=""><div class="badge badge-info">11:00</div></li>
            <li class=""><div class="badge badge-info">12:00</div></li>
            <li class=""><div class="badge badge-info">13:00</div></li>
            <li class=""><div class="badge badge-info">14:00</div></li>
            <li class=""><div class="badge badge-info">15:00</div></li>
            <li class=""><div class="badge badge-info">16:00</div></li>
            <li class=""><div class="badge badge-info">17:00</div></li>
            <li class=""><div class="badge badge-info">18:00</div></li>
            <li class=""><div class="badge badge-info">19:00</div></li>
            <li class=""><div class="badge badge-info">20:00</div></li>
            <li class=""><div class="badge badge-info">21:00</div></li>
            <li class=""><div class="badge badge-info">22:00</div></li>
            <li class=""><div class="badge badge-info">23:00</div></li>
        </ul>
    </li>
</ul>
