{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_row(form.name) }}
    {% if  form.callingList.vars.choices | length == 0%}
        <div class="form-group">
                <div><a href="{{ path('calling_list_new') }}">Добавьте список прозвона</a></div>
                <div style="display: none;">
                    {{ form_widget(form.callingList) }}
                </div>
        </div>
    {% else %}
        {{ form_row(form.callingList) }}
    {% endif %}

    {{ form_row(form.callingTimes) }}
<ul class="d-flex">
    {% for i in 1..7 %}
        <li style="display:flex;flex-direction: column;align-items: center; padding: 0 5px;">
            <div class="week">{{ i }}</div>
            <ul id="hour-select-mon" class="clearfix" style="padding: 0;">
                {% for i in 0..23 %}
                    <li style="display: flex;
    flex-direction: column;
    align-items: center;"><div class="badge badge-info" data-time="{{ i }}">{% if i < 10 %}0{{ i }}{% else %}{{ i }}{% endif %}:00</div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

